<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main"></div>
    <% if(locals.user) { %>
    <h1>Hello <%= locals.user.first_name%>!</h1>
      <% if (users.length > 0) {%>
        <ul id="messages">
          <% for (let i=0; i < users.length; i++) { %>
            <div>
              <li class="user-info">
                 <% if(locals.user.membership_status) { %>
                <div><%= users[i].first_name %> <%= users[i].last_name %></div>
                <div class="date"><%= users[i].date %></div>
                <% } else { %>
                <div>***** *****</div>
                <div class="date">**** ** **</div>
                <% } %>
              </li>
              <li class="title"><%= users[i].title %></li>
              <li class="message"><%= users[i].message %></li>
            </div>
            <% if(locals.user.admin) { %>
              <form action="/delete/<%= users[i].message_id %>" method="POST">
                <button type="submit">Delete</button>
              </form>
            <% }  %>
          <% } %>
        </ul>
      <% }%>
      <a href="/new">
        <button>+ New message</button>
      </a>
      <% if (!user.membership_status) {%>
      <p>Not a member yet? <a href="/membership">Become one!</a></p>
      <% } %>
      <% if (!user.admin) {%>
      <p>Are you  an admin? <a href="/admin">Authenticate.</a></p>
      <% } %>
    <a href="/log-out">Log out</a>
     </div>
    <% } else {%>

    <h1>please log in</h1>

    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger"><%= error[0] %></div>
    <% } %>

    <p>You dont have an account? <a href="/sign-up">Sign up!</a></p>

    <% } %>
  </body>
</html>
